<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a routerLink="/user/{{uid}}/website/{{wid}}/page" class="text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand text-black font-weight-bold pl-2" routerLink="/user/{{uid}}/website/{{wid}}/page">
        Edit Page
      </a>
    </div>
    <div class="navbar-text float-right">
      <a (click)="onUpdate()" class="cl-icon-padding text-black">
        <i class="fas fa-plus fontawsome_icon"></i>
      </a>
    </div>
  </div>
</nav>




<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <form>
    <div class="form-group">
      <label for="page-name">Name</label>
      <input
        type="text"
        name="websiteName"
        class="form-control"
        id="page-name"
        placeholder="Page Name"
        [(ngModel)]="page.name">
    </div>
    <div class="form-group">
      <label for="page-title">Title</label>
      <input
        type="text"
        name="websiteName"
        class="form-control"
        id="page-title"
        placeholder="Page Title"
        [(ngModel)]="page.title">
    </div>
  </form>
  <a class="btn btn-danger  btn-block" (click)="onDelete()">Delete</a>
</div>




<nav class="navbar navbar-inverse navbar-light bg-light fixed-bottom float-right col-12">
  <div class="float-left col-12"></div>
  <div class="row navbar-text float-right col-12">
    <a routerLink="/user/" class="float-right steelblue-icon">
      <span class="fas fa-user fontawsome_icon float-right steelblue-icon"></span>
    </a>
  </div>
</nav>
