<div class="container above-below-space">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Register</h1>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <input type="text"
             name="username"
             placeholder="username"
             class="form-control"
             id="un"
             [(ngModel)]="ng_username" required
             #username="ngModel"/>
    </div>
    <span
      class="help-block"
      *ngIf="!username.valid && username.touched">
        Please enter a valid username
      </span>
    <div class="form-group">
      <input type="password"
             name="password"
             placeholder="password"
             class="form-control"
             id="pw"
             [(ngModel)]="ng_password" required
             #password="ngModel"/>
    </div>
    <span
      class="help-block"
      *ngIf="!password.valid && password.touched">
        Please enter a valid password
      </span>

    <div class="form-group">
      <input type="password"
             name="verify_password"
             placeholder="verify password"
             class="form-control"
             [(ngModel)]="ng_verify_password" required
             #verify_password="ngModel"/>
    </div>
    <span
      class="help-block"
      *ngIf="(ng_password !== ng_verify_password) && verify_password.touched">
        Verify Password does not match Password
      </span>
    <div class="form-group">
      <button class="btn btn-primary btn-block"
              type="submit"
              [disabled]="!f.valid || ng_password !== ng_verify_password">
        Register
      </button>
    </div>
    <div>
      <a class="btn btn-danger  btn-block"
         routerLink="/login">Cancel</a>
    </div>
  </form>

</div>
