header {
  background-color: steelblue;
  position: center;
  color: white;
  padding-top: 0px;
}
h1 {
  border-top: 0px solid steelblue;
  border-left: 0px solid steelblue;
  border-right: 0px solid steelblue;
}

body {
  padding-top: 65px;
}

.box{
  display: none;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover + .box,.box:hover{
  display: block;
  position: relative;
  z-index: 100;
  text-decoration: none;
}

a.blue-color a:hover{
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: darkmagenta;
}

.visited {
  color:grey;
  text-decoration:none;
}


