/* You can add global styles to this file, and also import other style files */
header {
  background-color: steelblue;
  position: center;
  color: white;
  padding-top: 0px;
}

.navbar {
  background-color: steelblue;
  border-color: white;
  color: white;
}

.above-below-space{
  padding-bottom: 60px;
  padding-top: 60px;
}



.box{
  display: none;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover + .box,.box:hover{
  display: block;
  position: relative;
  z-index: 100;
  text-decoration: none;
}

.text-white{
  color: white;
}

.steelblue-icon{
  color: steelblue;
}

a.blue-color a:hover{
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}



.visited {
  color:grey;
  text-decoration:none;
}

.youtube-widget {
  position: relative;
  padding-bottom: 56.25% /*16:9*/;
  height: 0;
}
.youtube-widget iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

