<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a routerLink="/user/{{uid}}/website/{{wid}}/page" class="text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand text-black font-weight-bold pl-2" href="#">
        Choose Widget
      </a>
    </div>
    <div class="navbar-text float-right">
      <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}" class="cl-icon-padding text-black">
        <i class="fas fa-plus fontawsome_icon"></i>
      </a>
    </div>
  </div>
</nav>



<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless cl-text-blue" >
      <a (click)="onSubmit('HEADING')">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless cl-text-blue" >
      <a (click)="onSubmit('IMAGE')">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless cl-text-blue">
      <a (click)="onSubmit('YOUTUBE')">YouTube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless cl-text-blue" >
      <a (click)="onSubmit('TEXT')">Text</a>
    </li>
    <li class="list-group-item cl-list-item-borderless cl-text-blue">
      <a (click)="onSubmit('HTML')">HTML</a>
    </li>
  </ul>
</div>









<nav class="navbar navbar-inverse navbar-light bg-light fixed-bottom float-right col-12">
  <div class="float-left navbar-text">
  </div>
  <div class="row navbar-text float-right">
    <a routerLink="/user/" class="float-right steelblue-icon">
      <span class="fas fa-user fontawsome_icon float-right steelblue-icon"></span>
    </a>
  </div>
</nav>
