<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a routerLink="/user/{{uid}}/website/{{wid}}/page" class="text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand text-black font-weight-bold pl-2" routerLink="/user/{{uid}}/website/{{wid}}/page">
        New Page
      </a>
    </div>
    <div class="navbar-text float-right">
      <a class="cl-icon-padding text-black">
        <i class="fas fa-plus fontawsome_icon" (click)="onSubmit()"></i>
      </a>
    </div>
  </div>
</nav>


<div class="container">
  <form #f="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input placeholder="Page Name"
             name="PageName"
             type="text"
             class="form-control"
             ngModel
             required
             #PageName="ngModel"/>
    </div>
    <div class="form-group">
      <label>Title</label>
      <input placeholder="Page Title"
             name="PageTitle"
             type="text"
             class="form-control"
             ngModel
             required
             #PageTitle="ngModel"/>
    </div>
  </form>
</div>

<nav class="navbar navbar-inverse navbar-light bg-light fixed-bottom float-right col-12">
  <div class="float-left col-12"></div>
  <div class="row navbar-text float-right col-12">
    <a routerLink="/user/{{uid}}" class="float-right steelblue-icon">
      <span class="fas fa-user fontawsome_icon float-right steelblue-icon"></span>
    </a>
  </div>
</nav>
