<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Widget List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="css/style.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a [routerLink]="['/user/:uid/website/:wid/page']" class="text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand text-black font-weight-bold pl-2" href="#">[routerLink]="['/user/:uid/website/:wid/page/:pid']"
        Widgets
      </a>
    </div>
    <div class="navbar-text float-right">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid']" class="cl-icon-padding text-black">
        <i class="fas fa-plus fontawsome_icon"></i>
      </a>
    </div>
  </div>
</nav>

<div class="container cl-container-padding">
  <div>
    <div class="float-right">
      <a href="#" class="float-right">
        <i class="fas fa-bars fontawsome_icon"></i>
      </a>
      <a href="widget-edit.html">
        <i class="fas fa-cog fontawsome_icon"></i>
      </a>
    </div>
    <h1>London terror attack: Police fired 'unprecedented' number of rounds</h1>
  </div>

  <div>
    <div class="float-right">
      <a href="#" class="float-right">
        <i class="fas fa-bars fontawsome_icon"></i>
      </a>
      <a href="widget-edit.html">
        <i class="fas fa-cog fontawsome_icon"></i>
      </a>
    </div>
    <h3>Counterterrorism officers patrol near the scene of the attack on London Bridge.</h3>
  </div>

  <div>
    <div>
      <a href="#" class="float-right">
        <i class="fas fa-bars fontawsome_icon"></i>
      </a>
      <a href="widget-image.html" class="float-right">
        <i class="fas fa-cog fontawsome_icon"></i>
      </a>
      <img class="img-fluid img-rounded cl-widget-images"
           src="http://i2.cdn.cnn.com/cnnnext/dam/assets/170604130220-41-london-bridge-incident-0604-gallery-exlarge-169.jpg">
    </div>
  </div>
  <div>
    <div class="float-right">
      <a href="#" class="float-right">
        <i class="fas fa-bars fontawsome_icon"></i>
      </a>
      <a href="#">
        <i class="fas fa-cog fontawsome_icon"></i>
      </a>
    </div>
    <p>Armed officers responding to the London Bridge terror attack fired an "unprecedented" number of rounds at the three attackers because they were wearing what appeared to be suicide belts, police said.
    </p>
  </div>

  <div>
    <div class="float-right">
      <a href="#" class="float-right">
        <i class="fas fa-bars fontawsome_icon"></i>
      </a>
      <a href="widget-edit.html">
        <i class="fas fa-cog fontawsome_icon"></i>
      </a>
    </div>
    <h3>Report: Incident at London Bridge</h3>
  </div>

  <div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/APexI9Zb6iE" frameborder="0" allowfullscreen></iframe>"
      <a href="#" class="float-right">
        <span class="fas fa-bars fontawsome_icon" style="background-color: white"></span>
      </a>
      <a href="widget-youtube.html" class="float-right">
        <span class="fas fa-cog fontawsome_icon" style="background-color: white"></span>
      </a>
    </div>
  </div>

  <div>
    <div class="float-right">
      <a href="#" class="float-right">
        <i class="fas fa-bars fontawsome_icon"></i>
      </a>
      <a href="#">
        <i class="fas fa-cog fontawsome_icon"></i>
      </a>
    </div>
    <p>There is a report of an incident has occurred at London Bridge. From CNN London.</p>
  </div>

</div>


<nav class="navbar navbar-inverse navbar-light bg-light fixed-bottom float-right col-12">
  <div class="float-left navbar-text">
    <a href="#" class="cl-icon-padding">
      <span class="fas fa-play"></span>
    </a>
    <a href="#" class="cl-icon-padding pl-2">
      <span class="fas fa-eye"></span>
    </a>

  </div>
  <div class="row navbar-text float-right">
    <a [routerLink]="['/user/:userId']" class="float-right steelblue-icon">
      <span class="fas fa-user fontawsome_icon float-right steelblue-icon"></span>
    </a>
  </div>
</nav>
    <a>
      <i class="fas fa-chevron-left fontawsome_icon"></i>
    </a>
    <a class=" font-weight-bold navbar-brand cl-text-bold text-white float-left pull-left col-11" href="#">
      Websites
    </a>
    <a href="#" class="navbar-link float-left text-white">
      <i class="fas fa-plus fontawsome_icon"></i>
    </a>


<div class="container above-below-space">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['/user/:uid/website/:wid/page']">Address Book App</a>
      <a [routerLink]="['/user/:uid/website/:wid']"><span class="fas fa-cog fontawsome_icon float-right"></span></a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['/user/:uid/website/:wid/page']">Blogger</a>
      <a [routerLink]="['/user/:uid/website/:wid']"><span class="fas fa-cog fontawsome_icon float-right"></span></a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['/user/:uid/website/:wid/page']">Blogging App</a>
      <a [routerLink]="['/user/:uid/website/:wid']"><span class="fas fa-cog fontawsome_icon float-right"></span></a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['/user/:uid/website/:wid/page']">Script Testing App</a>
      <a [routerLink]="['/user/:uid/website/:wid']"><span class="fas fa-cog fontawsome_icon float-right"></span></a>
    </li>
  </ul>
</div>

<nav class="navbar fixed-bottom float-right col-12">
  <div class="container-fluid col-12">
    <div class="row navbar-text float-right col-12">
      <a [routerLink]="['/user/:userId']" class="float-right">
        <i class="fas fa-user fontawsome_icon float-right text-white col-12"></i>
      </a>
    </div>
  </div>
</nav>


</body>
</html>
