<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a [routerLink]="['/user/:uid/website/:wid/page']" class="text-black cl-icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand text-black font-weight-bold pl-2" routerLink="./">
        Widgets
      </a>
    </div>
    <div class="navbar-text float-right">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid']" class="cl-icon-padding text-black">
        <i class="fas fa-plus fontawsome_icon"></i>
      </a>
    </div>
  </div>
</nav>

<div class=" container-fluid cl-container-padding">
  <div *ngFor="let widget of widgets" [ngSwitch]="widget.widgetType">
    <a routerLink="./" class="float-right text-black">
      <i class="fas fa-bars"></i>
    </a>
    <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/wid']" class="float-right text-blue">
      <i class="fas fa-cog"></i>
    </a>
    <h3 *ngSwitchCase="'HEADING'">{{ widget.text }}</h3>
    <img *ngSwitchCase="'IMAGE'" [src]=widget.url >
    <iframe *ngSwitchCase="'YOUTUBE'" width="640" height="360" [src]= widget.url rameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <p *ngSwitchDefault><br><br></p>
  </div>
</div>


<nav class="navbar navbar-inverse navbar-light bg-light fixed-bottom float-right col-12">
  <div class="float-left navbar-text">
    <a routerLink="./" class="cl-icon-padding">
      <span class="fas fa-play"></span>
    </a>
    <a routerLink="./" class="cl-icon-padding pl-2">
      <span class="fas fa-eye"></span>
    </a>

  </div>
  <div class="row navbar-text float-right">
    <a [routerLink]="['/user/:userId']" class="float-right steelblue-icon">
      <span class="fas fa-user fontawsome_icon float-right steelblue-icon"></span>
    </a>
  </div>
</nav>
